<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <footer>
        <section id="main-footer">
            <div id="div-footer-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquid, 
                    assumenda deserunt unde sequi accusamus tempore animi nulla aspernatur, 
                    beatae corrupti! Eos magni eaque fugiat nihil officiis, quaerat adipisci inventore.</p>
  
            </div>
            <!-- <div id="div-footer-2">
                <ul style="list-style-type: none;">
                    <li>categorias</li>
                    <li>sandálias</li>
                    <li>botas</li>
                    <li>tênis</li>
                    <li>oxford</li>
                    <li>coturnos</li>
                </ul>
  
            </div> -->
            <div id="div-footer-3">
                <ul style="list-style-type: none;"> 
                    <li>institucional</li>
                    <li>sobre nós</li>
                    <li>perguntas frequentes</li>
                    <li>política de privacidade</li>
                    <li>rastreamento de pedidos</li>
                    <li><a href="trabalhe-conosco.html">trabalhe conosco</a></li>
                    <li>contato</li>
                </ul>
  
            </div>
        </section>
    </footer>

</html>