<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <header>
        <section id="menu">
            <!-- Menu -->
            <div>
                <a href="/"><img src="/images/livro.png" alt=""></a>
                
            </div>
            <div id="menu-text">
               <a href="/produtos"><span>todos os produtos</span></a> 
                <span>novidades</span>
                <span>promoção</span>
            </div>
        </section>
        <!-- submenu -->
        <!-- <section id="sub-menu">
  
          <div id="pesquisa-menu">
              <span>O que você procura?</span> -->
              <!-- <img src="/images/heart.png" alt=""> -->
              <!-- <img src="/images/search-interface-symbol.png" alt="" class="img-menu" >
          </div>
          <div>
              <img src="/images/user.png" alt="" class="img-menu">
              
          
          <a href="/login" >Entre ou cadastre-se</a>
          
          </div>
          <div> -->
              <!-- <img src="/images/heart.png" alt="" class="img-menu">
              <img src="/shopping-cart (1).png" alt="" class="img-menu"> -->
          <!-- </div>
        </section> -->
    </header>
</html>